name: Run Lint

on:
  push:
    branches:
      - 'main'
  pull_request:
    branches:
      - '**'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install uv
      uses: astral-sh/setup-uv@v5

    - name: "Set up Python"
      uses: actions/setup-python@v5
      with:
        python-version-file: "pyproject.toml"

    - name: Run Ruff
      run: uv run ruff check .

    - name: Run Black
      run: uv run black --check .

    - name: Run isort
      run: uv run isort --check-only .

    - name: Run Pyright
      run: uv run pyright --project ./pyrightconfig.json

    - name: Install pre-commit
      run: pip install pre-commit

    - name: Run pre-commit hooks
      id: pre-commit
      run: |
        pre-commit run --all-files --show-diff-on-failure
